<section class="recommend container">
  <div class="new-pro-slider small-pr-slider" style="overflow:visible">
    <div class="slider-items-products">
      <div class="new_title center">
        <h2>FEATURED PRODUCTS</h2>
      </div>
      <div id="recommend-slider" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col3">
          <!-- Item -->
          <div class="item">
            <div class="col-item">
              <div class="images-container"> <a class="product-image" title="Sample Product" routerLink="/detail"> <img src="assets/products-images/product8.jpg" class="img-responsive" alt="a" /> </a>

              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" routerLink="/detail"> Sample Product </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div style="width:60%" class="rating"></div>
                      </div>
                    </div>
                    <div class="price-box">
                      <p class="special-price"> <span class="price"> $45.00 </span> </p>
                      <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                    </div>
                  </div>
                  <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-item">
              <div class="new-label new-top-right">New</div>
              <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product16.jpg" class="img-responsive" alt="a" /> </a>
                <div class="actions">
                  <div class="actions-inner">
                    <ul class="add-to-links">
                      <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                      <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="qv-button-container"> <a href="quick_view.html" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div style="width:60%" class="rating"></div>
                      </div>
                    </div>
                    <div class="price-box"> <span class="regular-price"> <span class="price">$422.00</span> </span> </div>
                  </div>
                  <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-item">
              <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img alt="a" class="img-responsive" src="assets/products-images/product7.jpg"> </a>
                <div class="actions">
                  <div class="actions-inner">
                    <ul class="add-to-links">
                      <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                      <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="qv-button-container"> <a href="quick_view.html" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div class="rating" style="width:0%"></div>
                      </div>
                    </div>
                    <div class="price-box"> <span class="regular-price"> <span class="price">$50.00</span> </span> </div>
                  </div>
                  <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions">
                  <button class="button btn-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-item">
              <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img alt="a" class="img-responsive" src="assets/products-images/product17.jpg"> </a>
                <div class="actions">
                  <div class="actions-inner">
                    <ul class="add-to-links">
                      <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                      <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="qv-button-container"> <a href="quick_view.html" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div class="rating" style="width:50%"></div>
                      </div>
                    </div>
                    <div class="price-box">
                      <p class="special-price"> <span class="price"> $45.00 </span> </p>
                      <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                    </div>
                  </div>
                  <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions">
                  <button class="button btn-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-item">
              <div class="sale-label sale-top-right">Sale</div>
              <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img alt="a" class="img-responsive" src="assets/products-images/product8.jpg"> </a>
                <div class="actions">
                  <div class="actions-inner">
                    <ul class="add-to-links">
                      <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                      <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="qv-button-container"> <a href="quick_view.html" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div class="rating" style="width:60%"></div>
                      </div>
                    </div>
                    <div class="price-box">
                      <p class="special-price"> <span class="price"> $45.00 </span> </p>
                      <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                    </div>
                  </div>
                  <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions">
                  <button class="button btn-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-item">
              <div class="new-label new-top-right">New</div>
              <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img alt="a" class="img-responsive" src="assets/products-images/product18.jpg"> </a>
                <div class="actions">
                  <div class="actions-inner">
                    <ul class="add-to-links">
                      <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                      <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="qv-button-container"> <a href="quick_view.html" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div class="rating" style="width:60%"></div>
                      </div>
                    </div>
                    <div class="price-box"> <span class="regular-price"> <span class="price">$422.00</span> </span> </div>
                  </div>
                  <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions">
                  <button class="button btn-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-item">
              <div class="sale-label sale-top-right">Sale</div>
              <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img alt="a" class="img-responsive" src="assets/products-images/product9.jpg"> </a>
                <div class="actions">
                  <div class="actions-inner">
                    <ul class="add-to-links">
                      <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                      <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="qv-button-container"> <a href="quick_view.html" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div class="rating" style="width:0%"></div>
                      </div>
                    </div>
                    <div class="price-box"> <span class="regular-price"> <span class="price">$50.00</span> </span> </div>
                  </div>
                  <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions">
                  <button class="button btn-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="col-item">
              <div class="sale-label sale-top-right">Sale</div>
              <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img alt="a" class="img-responsive" src="assets/products-images/product19.jpg"> </a>
                <div class="actions">
                  <div class="actions-inner">
                    <ul class="add-to-links">
                      <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                      <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="qv-button-container"> <a href="quick_view.html" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
              </div>
              <div class="info">
                <div class="info-inner">
                  <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                  <!--item-title-->
                  <div class="item-content">
                    <div class="ratings">
                      <div class="rating-box">
                        <div class="rating" style="width:50%"></div>
                      </div>
                    </div>
                    <div class="price-box">
                      <p class="special-price"> <span class="price"> $45.00 </span> </p>
                      <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                    </div>
                  </div>
                  <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions">
                  <button class="button btn-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="new-pro-slider">
      <div class="new_title center">
        <h2>FEATURED PRODUCTS</h2>
      </div>
  <ul class="products-grid">
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="sale-label sale-top-right">Sale</div>
                <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product1.jpg" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="quick_view.html"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> $45.00 </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                      </div>
                    </div>
                    <!--item-content-->
                  </div>
                  <!--info-inner-->

                  <!--actions-->

                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="sale-label sale-top-right">Sale</div>
                <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product1.jpg" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="quick_view.html"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> $45.00 </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                      </div>
                    </div>
                    <!--item-content-->
                  </div>
                  <!--info-inner-->

                  <!--actions-->

                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="sale-label sale-top-right">Sale</div>
                <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product1.jpg" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="quick_view.html"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> $45.00 </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                      </div>
                    </div>
                    <!--item-content-->
                  </div>
                  <!--info-inner-->

                  <!--actions-->

                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="sale-label sale-top-right">Sale</div>
                <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product1.jpg" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="quick_view.html"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> $45.00 </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                      </div>
                    </div>
                    <!--item-content-->
                  </div>
                  <!--info-inner-->

                  <!--actions-->

                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="sale-label sale-top-right">Sale</div>
                <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product1.jpg" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="quick_view.html"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> $45.00 </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                      </div>
                    </div>
                    <!--item-content-->
                  </div>
                  <!--info-inner-->

                  <!--actions-->

                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="sale-label sale-top-right">Sale</div>
                <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product1.jpg" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="quick_view.html"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> $45.00 </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                      </div>
                    </div>
                    <!--item-content-->
                  </div>
                  <!--info-inner-->

                  <!--actions-->

                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="sale-label sale-top-right">Sale</div>
                <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product1.jpg" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="quick_view.html"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> $45.00 </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                      </div>
                    </div>
                    <!--item-content-->
                  </div>
                  <!--info-inner-->

                  <!--actions-->

                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
            <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <div class="col-item">
                <div class="sale-label sale-top-right">Sale</div>
                <div class="images-container"> <a class="product-image" title="Sample Product" href="product_detail.html"> <img src="assets/products-images/product1.jpg" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="quick_view.html"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title=" Sample Product" href="product_detail.html"> Sample Product </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:60%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> $45.00 </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> $50.00 </span> </p>
                      </div>
                    </div>
                    <!--item-content-->
                  </div>
                  <!--info-inner-->

                  <!--actions-->

                  <div class="clearfix"> </div>
                </div>
              </div>
            </li>
          </ul>
  </div>
  <div style="width: 100%;float: left;margin-left: 40%">1 2 3</div>
</section>
